* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif
}

.container {
    width: 1200px;
    margin: 0 auto
}

.container-field {
    width: 1296px;
    margin: 0 auto
}

.title {
    text-align: center;
    color: #080829;
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 28px
}

.title span {
    font-size: 43px
}

.subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 29px;
    color: #545479
}

.alert {
    background: #fff;
    visibility: hidden;
    -webkit-transition: visibility .2s linear;
    transition: visibility .2s linear
}

.alert-error {
    background: #ff4545;
    color: #fff;
    padding: 15px 20px;
    max-width: 350px;
    font-size: .9rem;
    border-radius: 10px
}

#global-error {
    position: absolute;
    bottom: 30px;
    left: 30px;
    visibility: hidden
}

.feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px
}

.feedback-add {
    padding: 30px 0 30px 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.feedback-add > * {
    margin-bottom: 20px
}

.feedback-add__title {
    font-size: 1.3rem
}

.feedback-list, .feedback-list__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.feedback-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.feedback-list__content {
    padding: 30px 30px 10px
}

.feedback-list__date {
    margin-top: 10px
}

.feedback-list__delete-btn {
    background: #000;
    position: absolute;
    bottom: 10px;
    right: 10px
}

.feedback-list__item {
    position: relative;
    background: #fff;
    border: 2px solid rgba(8, 8, 41, .2);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.feedback-list__item-name {
    width: 80%
}

.feedback-list__item-name span {
    color: #5d5d5d;
    font-weight: 700
}

.feedback-list__item-article {
    width: 80%;
    margin-top: 10px
}

.feedback-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.feedback-pagination__content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.feedback-pagination__item {
    margin: 0 5px;
    padding: 20px 10px;
    max-width: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .31);
    box-shadow: 0 0 5px rgba(0, 0, 0, .31)
}

.feedback-pagination__item.active {
    color: #fff;
    background: #5765ff
}

.btn {
    border: 0;
    background: #3f53d8;
    border-radius: 14px;
    padding: 16px 36px 23px;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.btn.btn-accent {
    border: 1px solid rgba(8, 8, 41, .2);
    background: #fff;
    color: #000
}

.btn:disabled {
    background: #b0b0b0
}

.btn:hover:enabled {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .36);
    box-shadow: 0 0 15px rgba(0, 0, 0, .36)
}

.btn:active:enabled {
    background: #0024fc
}

input, textarea {
    padding: 15px 20px;
    border-radius: 10px;
    min-width: 350px;
    outline: 0;
    border: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .26);
    box-shadow: 0 0 10px rgba(0, 0, 0, .26)
}

textarea {
    min-height: 200px;
    resize: vertical
}